extends includes/layout

block title
  title Bhavuk Jain

block description
  meta(name='description', content='I\'m Bhavuk Jain, currently working as a Software Developer at Expedia Inc. Here I share some of my projects and writings.')
  if writings
    meta(name='robots', content='noindex')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')

include mixins/projectList
include mixins/writingList

block content
  .outer
    .sidebar
      .cover#leftCover
        .vertical-center
          .container
            .row
              img.media-object.img-circle#me(src="/images/me.jpg")
              h1 Bhavuk Jain
              h3 Software Developer <br> Expedia Inc
              h4 bhavukj.it@nsit.net.in
              ul.list-inline.outside-links
                li
                  a(href="https://github.com/bhavukJain")
                    i.fa.fa-github
                li
                  a(href="https://scholar.google.com/citations?user=i9dHJmkAAAAJ")
                    i.fa.fa-newspaper-o
    .contentbar
      .cover#rightCover
        .col-lg-8.col-lg-offset-1.col-md-9.col-md-offset-1.col-sm-10.col-sm-offset-1

          if projects
            h1 About
            p 
              | I am a Software Developer at Expedia Inc. where I'm working on developing a platform for migrating Expedia's internal services to cloud.
              +projectList(projects)
          if writings
            +writingList(writings)